<link rel="stylesheet" href="/static/css/index.css">

<div class="welcome-container">
    <div class="welcome-text">Welcome to the Omsilog Community!</div>
    <div class="welcome-background"></div>
</div>
<div class="main-container">
    <!--short links on left side-->
    <aside class="side-nav-container">
        <ul class="side-nav">
            <li class="latest">
                <a class="" href="#" onclick="window.location.href = '/search?sort=date'">
                    <i class="bi bi-list"></i>
                    <span class="sidebar-label">Latest</span>
                </a>
            </li>
            <li class="top-voted">
                <a class="" href="#" onclick="window.location.href = '/search?sort=upvoteList'">
                    <i class="bi bi-graph-up-arrow"></i>
                    <span class="sidebar-label">Top Voted</span>
                </a>
            </li>
            <li class="">
                <input type="checkbox" id="side-tags">
                <label for="side-tags" class="side-tags-label">
                    <i class="bi bi-tags"></i>
                    <span class="sidebar-label">Tags</span>
                </label>

                <ul class="tags-list">
                    <li class="tags">
                        <a href="#" onclick="window.location.href = '/search?tag=announcements'">
                            <i class="bi bi-megaphone-fill"></i>
                            <span>Announcements</span>
                        </a>
                    </li>
                    <li class="tags">
                        <a href="#" onclick="window.location.href = '/search?tag=review'">
                            <i class="bi bi-check-circle-fill"></i>
                            <span>Review</span>  
                        </a>
                    </li>
                    <li class="tags">
                        <a href="#" onclick="window.location.href = '/search?tag=query'">
                            <i class="bi bi-question-circle-fill"></i>
                            <span>Query</span>
                        </a>
                    </li>
                    <li class="tags">
                        <a href="#" onclick="window.location.href = '/search?tag=meme'">
                            <i class="bi bi-emoji-laughing-fill"></i>
                            <span>Meme</span>
                        </a>
                    </li>
                    <li class="tags">
                        <a href="#" onclick="window.location.href = '/search?tag=meta'">
                            <i class="bi bi-lightbulb-fill"></i>
                            <span>Meta</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="support">
                <a href="#modalSupport" data-bs-toggle="modal">
                    <i class="bi bi-headset"></i>
                    <span class="sidebar-label">Support</span>
                </a>

                <!--support modal-->
                <div class="modal fade" id="modalSupport" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header support-title-container fs-3">
                                Need a Hand?
                            </div>
                            <div class="modal-body support-body-container">
                                <div class="contact-container">
                                    <a href="" class="support-icon-container">
                                        <img src="/static/img/user1.jpg" alt="" class="support-icon">
                                    </a>
                                    <div class="support-name">Francis Bawa</div>
                                    <div class="contact-container-sub">
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="francis_bawa@dlsu.edu.ph">
                                            <i class="bi bi-envelope-fill contact-icon"></i>
                                        </a>
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="0987 654 3210">
                                            <i class="bi bi-telephone-fill contact-icon"></i>
                                        </a>
                                    </div>       
                                </div>
                                <div class="contact-container">
                                    <a href="" class="support-icon-container">
                                        <img src="/static/img/user2.jpg" alt="" class="support-icon">
                                    </a>
                                    <div class="support-name">Max Burce</div>
                                    <div class="contact-container-sub">
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="vincent_burce@dlsu.edu.ph">
                                            <i class="bi bi-envelope-fill contact-icon"></i>
                                        </a>
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="0987 654 3210">
                                            <i class="bi bi-telephone-fill contact-icon"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="contact-container">
                                    <a href="" class="support-icon-container">
                                        <img src="/static/img/user3.png" alt="" class="support-icon">
                                    </a>
                                    <div class="support-name">Zach Gomez</div>
                                    <div class="contact-container-sub">
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="zachary_gomez@dlsu.edu.ph">
                                            <i class="bi bi-envelope-fill contact-icon"></i>
                                        </a>
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="0987 654 3210">
                                            <i class="bi bi-telephone-fill contact-icon"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="contact-container">
                                    <a href="" class="support-icon-container">
                                        <img src="/static/img/user4.png" alt="" class="support-icon">
                                    </a>
                                    <div class="support-name">Ricardo Vicerra</div>
                                    <div class="contact-container-sub">
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="ricardo_vicerra@dlsu.edu.ph">
                                            <i class="bi bi-envelope-fill contact-icon"></i>
                                        </a>
                                        <a tabindex="0" role="button" class="contact-icon-container" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="0987 654 3210">
                                            <i class="bi bi-telephone-fill contact-icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer support-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="support-close">Close</button>
                        </div>
                    </div>
                </div>

            </li>
            <li class="about">
                <a href="#about" data-bs-toggle="modal">
                    <i class="bi bi-headset"></i>
                    <span class="sidebar-label">About</span>
                </a>
                <div class="modal fade" id="about" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <h1>Dependencies used</h1>
                                    <ul>
                                        <li>bcrypt: ^5.1.0</li>
                                        <li>connect-mongo: ^5.0.0</li>
                                        <li>dotenv: ^16.3.1</li>
                                        <li>express: ^4.18.2</li>
                                        <li>express-handlebars: ^7.1.0</li>
                                        <li>express-session: ^1.17.3</li>
                                        <li>mongodb: ^5.7.0</li>
                                        <li>mongoose: ^7.4.0</li>
                                        <li>nodemon: ^3.0.1</li>
                                        <li>path: ^0.12.7</li>
                                        <li>url: ^0.11.1</li>
                                    </ul>
                                <h1>Third Party Libraries used</h1>
                                    <ul>
                                        <li>Bootstrap: ^5.3.0 </li>
                                        <li>JQuery: ^3.7.0</li>
                                        <li>Quill: ^1.3.6</li>
                                    </ul>
                                
                                <div class="modal-footer support-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                </div>
            </li>
        </ul>
    </aside>
    <!--main forum content-->
    <!-- thread container id holds total num of posts in database-->
    <div class="thread-container" id="mark{{totalPosts.length}}">
        <!--create post-->
        <div class="create-post-container">
            <a class="icon-container usernow" id ="now{{user}}" href="">
                {{#if user}}
                    <img class="user-icon" src="{{userObject.profileImg}}" alt="">
                {{else}}
                    <img class="user-icon" src="/static/img/icon0.jpg" alt="">
                {{/if}}
            </a>
            <a href="" id="create-post-button" class="create-post" data-bs-toggle="modal">
                <div class="create-post-text">Create Post</div>
            </a>

            <!--create post modal-->
            <div class="modal fade" id="createPostModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Post</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" id="top-close"></button>
                    </div>

                    <div class="modal-body">
                        <form method="POST">
                            <div>
                                <div class="form-group">
                                    <label for="create-post-title">Title:</label>
                                    <input type="text" class="title-input" id="create-post-title" name="create-post-title" placeholder="Enter post title" required>
                                </div>
                                <div class="form-group">
                                    <label for="tag">Post-Tag:</label>
                                    <div class="select">
                                        <select id="tag" name="tag" onfocus='this.size=4;' onblur='this.size=0;' onchange='this.size=1; this.blur();' required>
                                        <option value="" disabled selected>Select Tag</option>
                                        <option value="Review">Review</option>
                                        <option value="Query">Query</option>
                                        <option value="Meme">Meme</option>
                                        <option value="Meta">Meta</option>
                                        </select>
                                    </div>
                                    </div>
                                <div class="form-group">
                                    <label for="content">Content:</label>
                                    <div id="content" class="editor"></div>
                                    <textarea id="content-input" name="content" style="display: none;" required></textarea>
                                </div>
                                <div class="create-post-footer">
                                    <button type="button" class="btn btn-secondary" id="close-button" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-secondary" id="publish-button">Publish</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <br>

        <!--error modal-->
        <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                </div>
                <div class="modal-body">
                    <p id="error-message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                </div>
                </div>
            </div>
            </div>

        <!--start of forum posts/threads-->
        <!-- posts-container id is attached with current number of shown posts -->
        <div class="posts-container" id="posts-container{{initialShown}}">
            <!-- CONTENT OF POSTS WILL BE LOADED-->
            {{#if posts.length}}
                {{#each posts}}
                    {{> posts}}
                {{/each}}

                <div class="see-more-container" id="see-more-container" style="display:{{buttonShown}}">
                    <button type="button" class="btn btn-secondary" id="see-more">See More</button>
                </div>
            {{else}}
                <h2 style="text-align: center">No Posts to Display :c</h2>
            {{/if}}

        </div>
    </div>
</div>

<script src="static/js/createPost.js" defer></script>
<script src="static/js/index.js" defer></script>

<!-- 
    1. fix see more button, and note on all posts loaded
-->