<link rel="stylesheet" href="/static/css/singlePost.css">
<script type="module" src="/static/js/editPost.js" defer></script>


<div id="post-title">
    <div class="title-contents">
        <a href="search-loggedin.html"><i id="tagIcon" class="{{post.tagClass}}"></i><span id="tagName" class="tag">{{post.tag}}</span></a>
        <span id="title">{{post.title}}</span>
        <span id="post-date">created {{calcDate post.date}}</span>
    </div>
</div>
<div class="box">    
    <div class="up">
        <div class="xyz">
            <a href="/users/{{post.userID}}">
            <img src="{{post.author.profileImg}}" class="icon">
            </a>
            <div class="buttons">
                <span id="upvote" class="upvote" onclick="changeUpvote(this)"></span>
                <span id="count" class="num">{{post.voteCount}}</span>
                <span id="downvote" class="downvote" onclick="changeDownvote(this)"></span>
            </div>
        </div>       
        <div class="uinfo">
            <div class="leftnright">
            <div class="abc">
                <a href="/users/{{post.userID}}" class="username">{{post.author.username}}</a>
            </div>
                <div class="dropdown">
                    <button class="three-dots dropbtn{{post.isUser}}"><i class="bi bi-three-dots iconsize"></i></button>
                    <div class="dropdown-content">
                    <a id="edit" href="#">Edit</a>
                    <a id="delete" href="#">Delete</a>
                    </div>
                </div>
            </div>             
            <div id="body" class="justify mpost">{{post.desc}}</div>
            <div class="down">
            <a id="reply" class="reply">Reply</a>
            <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Post</h1>
                    </div>
                    <div class="modal-body">
                    <form id="comment-form">
                        <div>
                        <div class="form-group">
                            <label for="create-post-title">Title:</label>
                            <input type="text" class="title-input" id="create-post-title" name="create-post-title" placeholder="Enter post title" required>
                        </div>
                        <div class="form-group">
                            <label for="tag">Post-Tag:</label>
                            <div class="select">
                            <select id="tag" name="tag" onfocus='this.size=4;' onblur='this.size=0;' onchange='this.size=1; this.blur();' required>
                            <option value="" disabled selected>Select Tag</option>
                                <option value="review">Review</option>
                                <option value="query">Query</option>
                                <option value="meme">Meme</option>
                                <option value="meta">Meta</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content">Content:</label>
                            <div id="content" class="editor"></div>
                            <textarea id="content-input" name="content" style="display: none;"></textarea>
                        </div>
                        <div class="create-post-footer">
                            <button type="button" class="btn btn-secondary" id="close-button" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-secondary" id="publish-button">Publish</button>
                        </div>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal fade" id="replyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel-reply">New Reply</h1>
                    </div>
                    <div class="modal-body">
                    <form id="reply-form">
                        <div>
                        <div class="form-group">
                            <label for="reply-content">Content:</label>
                            <div id="reply-content" class="editor"></div>
                            <textarea id="reply-content-input" name="content" style="display: none;"></textarea>
                        </div>
                        <div class="create-post-footer">
                            <button type="button" class="btn btn-secondary" id="close-button-reply" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-secondary" id="publish-button-reply">Publish</button>
                        </div>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" data-bs-backdrop="false">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    </div>
                    <div class="modal-body">
                    <p id="error-message"></p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal fade" id="commentErrorModal" tabindex="-1" aria-labelledby="commentErrorModalLabel" aria-hidden="true" data-bs-backdrop="false">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="commentErrorModalLabel">Error</h5>
                    </div>
                    <div class="modal-body">
                    <p id="comment-error-message"></p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>
<div class="box2" id="comments-section">
    <span class="c">Comments</span>  
    {{#if comments.length}}
        {{#each comments}}
            <div class="up2">
                {{> comment}}
            {{/each}}
        </div>
    {{else}}
    {{/if}}      
</div>