<link rel="stylesheet" href="/static/css/users.css">
<link rel="stylesheet" href="/static/css/index.css">
<script src="/static/js/profileEdit.js" defer></script>
<script src="/static/js/index.js" defer></script>

<div class="main-container">
    <div class="usernow" id="now{{user}}"></div>
    <div class = "profile-container">
        <div class = "profile">
            <a class = "profile-photo-container">
                <img class="profile-icon" src="{{loadedProfile.profileImg}}" alt="" id="profileImage">
            </a>
            <br>
            <a>
                <p class = "profile-name">{{loadedProfile.username}}</p>
            </a>
            <p>--------------------------------------------</p>
            <div class = "names-container">
            <p class = "names" id = "fName">{{loadedProfile.fName}}</p>
            <p class = "names" id = "lName">{{loadedProfile.lName}}</p>     
            </div>
            <p id = "eMail">{{loadedProfile.email}}</p>
            <p>--------------------------------------------</p>
            <p id = "bio">{{loadedProfile.bio}}</p> 
            <p>--------------------------------------------</p>
            <ul class="nav profile">
                {{#if match}}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" id = "edit" href="#edit-info">Edit profile info</a>
                </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="pill" href="#view-posts">View Posts </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#view-comment">View Comments</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="content-container">
        <div id = "edit-info" class ="tab-pane fade">
            <div class="form-section">
                <form action="/edit" method = "post" enctype="multipart/form-data">
                    <h1>Edit Profile</h1>
                   
                    <div class="form-group">
                         <label for="pfp">Select Profile Picture:</label>
                         <select id="icon-dropdown">
                            <
                            <option disabled selected value="icon0" id = "conditional" style="display: none;">Select profile picture</option>
                            <option value="icon1">Icon 1</option>
                            <option value="icon2">Icon 2</option>
                            <option value="icon3">Icon 3</option>
                            <option value="icon4">Icon 4</option>
                            <option value="icon5">Icon 5</option>
                            <option value="icon6">Icon 6</option>
                            <option value="icon7">Icon 7</option>
                            <option value="icon8">Icon 8</option>
                        </select>
                        <br>
                        <br>
                        <img id="selected-icon" src="{{loadedProfile.profileImg}}" alt="Selected Icon" style="max-width: 200px;">
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="firstName" value="{{loadedProfile.fName}}" placeholder = "first name here">
                        </div>
                    
                        <div class="form-group col">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName" value="{{loadedProfile.lName}}"  placeholder = "last name here">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bio">Edit Bio:</label>
                        <textarea id="newBio" name="bio" rows="2" cols="50" placeholder = "Enter short bio (can be left blank)">{{loadedProfile.bio}}</textarea>
                    </div>
                    
                   <button type="button" id = "submit-btn">Save Changes</button>
                    <button type="button" class="cancel" id = "cancel-btn">Cancel</button>
                </form>
            </div>
        </div>

        <div id = "view-posts" class = "tab-pane fade show active">
            <!--view posts-->
            {{#if posts.length}}
                {{#each posts}}
                    {{> posts}}
                {{/each}}

                <!--
                <div class="see-more-container" id="see-more-container">
                     //SEE MORE BUTTON
                    <button type="button" class="btn btn-secondary" id="see-more" onclick="loadMore()">See More</button>
                </div>
                -->
            {{else}}
                <!-- insert note saying no more available posts -->
            {{/if}}
            
        </div>
        <div id = "view-comment" class ="tab-pane fade">
            <!--view posts-->
            {{#if comments.length}}
                {{#each comments}}
                    {{> profileComments}}
                {{/each}}

                <!--
                <div class="see-more-container" id="see-more-container">
                     //SEE MORE BUTTON
                    <button type="button" class="btn btn-secondary" id="see-more" onclick="loadMore()">See More</button>
                </div>
                -->
            {{else}}
                <!-- insert note saying no more available posts -->
            {{/if}}
        </div>
    </div>
</div>

<!--error modal-->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Error</h5>
        </div>
        <div class="modal-body">
            <p id="error-message"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
        </div>
        </div>
    </div>
</div>

