<link rel="stylesheet" href="/static/css/users.css">
<link rel="stylesheet" href="/static/css/index.css">

<div class="main-container">
    <div class = "profile-container">
        <div class = "profile">
            <a class = "profile-photo-container">
                <img class="profile-icon" src="{{loadedProfile.profileImg}}" alt="">
            </a>
            <br>
            <a>
                <p class = "profile-name">{{loadedProfile.username}}</p>
            </a>
            <p>-------------------------------------</p>
            <p class = "names" id = "fName">{{loadedProfile.fName}}</p> 
            <p class = "names" id = "lName">{{loadedProfile.lName}}</p>
            <p id = "eMail">{{loadedProfile.email}}</p>
            <p id = "bio">{{loadedProfile.bio}}</p> 
            <p>-------------------------------------</p>
            <ul class="nav profile usernow" id="now{{user}}">
                {{#if match}}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#edit-info">Edit profile info</a>
                </li>
                {{/if}}
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="pill" href="#view-posts">View Posts </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#view-comments">View Comments</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="content-container">
        <div id = "edit-info" class ="tab-pane fade">
            <div class="form-section">
                <form method="post" enctype="multipart/form-data">
                    <h1>Edit Profile</h1>
                    <div class="form-group col">
                        <label for="profilePicture">Upload Profile picture:</label>
                        <input type="file" class="form-control" id="pfpupload" accept="image/*"> <br>
                        <img id="profilePictureDisplay" class="profile-picture" src="../images/icon.jpg" alt="Profile Picture">
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" name="firstName" placeholder="{{loadedProfile.fName}}">
                        </div>
                    
                        <div class="form-group col">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName" placeholder="{{loadedProfile.lName}}">
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="password">Old Password:</label>
                            <input type="password" id="opassword" name="password" placeholder="Enter old password">
                        </div>
                    
                        <div class="form-group col">
                            <label for="confirmPassword">Confirm Old Password:</label>
                            <input type="password" id="coPassword" name="confirmPassword" placeholder="Confirm old password">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                        <label for="password">New Password:</label>
                        <input type="password" id="npassword" name="password" placeholder="Enter new password">
                        </div>
                    
                        <div class="form-group col">
                        <label for="confirmPassword">Confirm New Password:</label>
                        <input type="password" id="cnPassword" name="confirmPassword" placeholder="Confirm new password">
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="{{loadedProfile.email}}">
                        </div>
                    
                        <div class="form-group col">
                        <label for="confirmEmail">Confirm Email:</label>
                        <input type="email" id="confirmEmail" name="confirmEmail" placeholder="{{loadedProfile.email}}">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="bio">Edit Bio:</label>
                        <textarea id="bio" name="bio" rows="2" cols="50" placeholder="E{{loadedProfile.bio}}"></textarea>
                    </div>
                    
                   <input type="submit" value="Save Changes" id = "submit" onsubmit= "submitEditProfile()">
                    <button type="button" class="cancel" onclick="cancelForm()">Cancel</button>
                </form>
            </div>
        </div>

        <div id = "view-posts" class = "tab-pane fade show active">
            <!--view posts-->
            {{#if posts.length}}
                {{#each posts}}
                    {{> posts}}
                {{/each}}

                <!--
                <div class="see-more-container" id="see-more-container">
                     //SEE MORE BUTTON
                    <button type="button" class="btn btn-secondary" id="see-more" onclick="loadMore()">See More</button>
                </div>
                -->
            {{else}}
                <!-- insert note saying no more available posts -->
            {{/if}}
            
        </div>
        <div id = "view-comments" class ="tab-pane fade">
            <!--view posts-->
            {{#if comments.length}}
                {{#each comments}}
                    {{> profileComments}}
                {{/each}}

                <!--
                <div class="see-more-container" id="see-more-container">
                     //SEE MORE BUTTON
                    <button type="button" class="btn btn-secondary" id="see-more" onclick="loadMore()">See More</button>
                </div>
                -->
            {{else}}
                <!-- insert note saying no more available posts -->
            {{/if}}
        </div>
    </div>
</div>

<!--error modal-->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Error</h5>
        </div>
        <div class="modal-body">
            <p id="error-message"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
        </div>
        </div>
    </div>
</div>

<script src="/static/js/index.js" defer></script>