<div class="up2">
    <a href="/users/{{author.userID}}">
        <img src="{{author.profileImg}}" class="icon2">
    </a>
    </div>
    <div class="ucomment">
        <div>
            <a href="/users/{{author.userID}}" class="cusername">{{author.username}}</a>
        </div>
        <span class="date">a</span>
        <span class="truncate-text justify">
            {{body}}
        </span>
    </div>
</div>
<div class="down2">
    <div>
        <a href="/{{postID}}/{{commentID}}" class="reply2">See more</a>
    </div>
</div>